<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXsKuJMFLjF_XcN0GU5sck_aOa4MYunC8</string>
	<key>GCM_SENDER_ID</key>
	<string>204691497606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hvxlabs.waTracker</string>
	<key>PROJECT_ID</key>
	<string>winter-arc-tracker-befec</string>
	<key>STORAGE_BUCKET</key>
	<string>winter-arc-tracker-befec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204691497606:ios:ac92ad54c527f912cb2707</string>
</dict>
</plist>